.form-control {
  color: #2e3d64;
}
.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #dbdfea;
  font: inherit;
  line-height: 1.5rem;
  padding: 0.1rem 0.25rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.425);
}

.form-control input:focus {
  outline: none;
  background: #ffead2;
  border-color: #dbdfea;
}
