* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/pexels-sasha-martynov-1260727.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
