* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #fef1eb, #ffdfd3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
