button {
  font: inherit;
  cursor: pointer;
  padding: 0.7rem 0.7rem;
  border-radius: 12px;
  margin-right: 1rem;
  border: 1px solid #dbdfea;
  background-color: #8294c4;
  color: white;
}

button:hover {
  border: 1px solid #ffead2;
}
