.card {
  background-image: linear-gradient(to bottom right, #8294c4, #8294c477);
  padding: 1rem;
  margin: 2rem auto;
  width: 45rem;
  max-width: 95%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border: 4px dashed #8294c4;
}
